<div class="jumbotron">
  <h1><i class="fa fa-pencil"></i> Welcome!</h1>
  <p>Thanks for using the demo site of todo app. Created by  SHUVO & AIDAN</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up.</a></p>
</div>