<div class="jumbotron">
  <h1><i class="fa fa-pencil"></i> Welcome!</h1>
  <p>Thanks for using the demo site of todo app. Created by  SHUVO & AIDAN</p>
  <%= link_to "Sign up",new_user_registration_path,class: "btn btn-primary btn-lg" %>
</div>